<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Transacciones Recientes</ion-title>
  </ion-toolbar>
  <app-filter-bar (onTipoChange)="tipoFiltro = $event" (onCategoriaChange)="categoriaFiltro = $event"
    (onBuscarChange)="textoFiltro = $event">
  </app-filter-bar>
  <ion-searchbar placeholder="Buscar transaccion" inputmode="" type="" [debounce]=""
    showCancelButton="never"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
  <app-transaction-item 
    *ngFor="let t of transacciones | filterByType:tipoFiltro | filterByCategory:categoriaFiltro | searchByText:textoFiltro"
    [transaccion]="t"
    (click)="verDetalle(t)"> </app-transaction-item>
</ion-list>
  <ion-fab class="fab-btn" (click)="openModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>