:host {
  display: inline-block;
}

.small { 
  font-size: 0.8rem; 
}
.medium { 
  font-size: 1.2rem; 
  font-weight: 500; 
}
.large { 
  font-size: 2rem; 
  font-weight: bold; 
}

.signo {
  margin-right: 2px;
}